body
{
	background: #2E3235;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	margin: 0;
	padding: 0;
}

.levelImage {
	position: absolute;
}

#entitySelect
{
	position: fixed;
	left: 100%;
	margin-left: -200px;
	width: 200px;
	background-color: rgb(0,0,0);
	font-size: 20px;
	z-index: 1;
}

#entitySelect .active
{
	color: #662766;
}

#toolSelect
{
	position: absolute;
	margin-top: 50px;
	margin-left: 1120px;
	width: 200px;
	height: 260px;
	background-color: rgb(0,0,0);
	font-size: 20px;
}

#toolSelect .active
{
	color: #662766;
}

#title
{
	color: #C7A820;
	padding-left: 10px;
}

a
{
	padding-left: 10px;
	color: #60A741;
}

a:hover
{
	color: #662766;
}

.platform
{
	position: absolute;
	background-color: rgb(0,0,0);
	width: 30px;
	height: 30px;
}

.platform:hover
{
	background-color: rgba(0,0,0, 0.3);
}

.walter
{
	position: absolute;
	/*background-color: rgb(30, 144, 179);*/
	background-color: #737E9C;
	width: 70px;
	height: 100px;
}

.alex
{
	position: absolute;
	background-color: #D6E01B;
	width: 70px;
	height: 100px;
}

.waterCoin
{
	position: absolute;
	background-color: blue;
	width: 30px;
	height: 30px;
}

.elecCoin
{
	position: absolute;
	background-color: yellow;
	width: 30px;
	height: 30px;
}

.fire {
	position: absolute;
	background-color: red;
	width: 150px;
	height: 10px;
}

.pole {
	position: absolute;
	background-color: red;
	width: 10px;
	height: 200px;
}

.pipe {
	position: absolute;
	background-color: green;
	width: 148px;
	height: 38px;
}